@import url('https://fonts.googleapis.com/css?family=Lato');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

section.section {
  padding-top: 20px;
  padding-bottom: 20px;
}


table.table {
  font-size: 14px;
}
